body {
  margin: 20px;
  background: #fff;
}

#output {
  width: 640px !important;
  height: 100%;
  background: black;
  -webkit-transform: scale(-1, 1);
}

.btn {
  margin-bottom: 20px !important;
}

canvas,
#video-controls {
  display: none;
}