body {
  margin: 40px;
}

#output {
  width: auto;
  height: 100%;
  background: black;
  -webkit-transform: scale(-1, 1);
}

canvas,
#video-controls {
  display: none;
}

#video-controls {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

#info {
  font-size: 18px;
  font-weight: 300;
  margin-top: 80px;
}

#record-me {
  display: none;
  margin: 0 auto !important;
}

.video-container {
  width: 640px;
  height: 480px;
  margin: 0 auto;
  text-align: center;
}

.video {
  overflow: hidden;
  width: 640px;
  height: 480px;
  position: relative;
}

.content {
  display: block;
}

#share-button {
  position: absolute;
  top: 430px;
  right: 20px;
}