body {
  margin: 20px;
}

#output {
  width: auto;
  height: 100%;
  background: black;
  -webkit-transform: scale(-1, 1);
}

canvas,
#video-controls {
  display: none;
}

#info {
  font-size: 18px;
  font-weight: 300;
  margin-top: 80px;
}

#record-me {
  display: none;
}

.video-container {
  text-align: center;
}